# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder (if you use one)
venv/
.venv/
env/
.env/

# Ignore sensitive environment variables
.env

# Ignore IDE-specific files
.vscode/
.idea/